{<<"app">>,<<"fat_ecto">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"fat_ecto provides methods for dynamically building queries according to the parameters it receive.">>}.
{<<"elixir">>,<<"~> 1.9">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/fat_ecto">>,<<"lib/fat_ecto/controller_macros">>,
  <<"lib/fat_ecto/controller_macros/macros_helper.ex">>,
  <<"lib/fat_ecto/controller_macros/index_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/by_query_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/update_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/create_multiple_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/show_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/create_macro.ex">>,
  <<"lib/fat_ecto/controller_macros/delete_macro.ex">>,
  <<"lib/fat_ecto/utils">>,<<"lib/fat_ecto/utils/assoc_model.ex">>,
  <<"lib/fat_ecto/utils/changeset_utils.ex">>,
  <<"lib/fat_ecto/utils/uuid_utils.ex">>,<<"lib/fat_ecto/utils/string.ex">>,
  <<"lib/fat_ecto/utils/pagination.ex">>,
  <<"lib/fat_ecto/utils/basic_logger.ex">>,<<"lib/fat_ecto/utils/table.ex">>,
  <<"lib/fat_ecto/utils/date_time.ex">>,
  <<"lib/fat_ecto/utils/seed_helper.ex">>,<<"lib/fat_ecto/utils/integer.ex">>,
  <<"lib/fat_ecto/utils/map.ex">>,<<"lib/fat_ecto/utils/record.ex">>,
  <<"lib/fat_ecto/query.ex">>,<<"lib/fat_ecto/render_view_macros">>,
  <<"lib/fat_ecto/render_view_macros/view_macro.ex">>,
  <<"lib/fat_ecto/render_view_macros/render_macro.ex">>,
  <<"lib/fat_ecto/context.ex">>,<<"lib/fat_ecto/paginator.ex">>,
  <<"lib/fat_ecto/query">>,<<"lib/fat_ecto/query/not_dynamics.ex">>,
  <<"lib/fat_ecto/query/where.ex">>,<<"lib/fat_ecto/query/group_by.ex">>,
  <<"lib/fat_ecto/query/join.ex">>,<<"lib/fat_ecto/query/aggregate.ex">>,
  <<"lib/fat_ecto/query/distinct.ex">>,<<"lib/fat_ecto/query/select.ex">>,
  <<"lib/fat_ecto/query/dynamics.ex">>,
  <<"lib/fat_ecto/query/join_dynamics.ex">>,
  <<"lib/fat_ecto/query/where_or.ex">>,<<"lib/fat_ecto/query/order_by.ex">>,
  <<"lib/fat_ecto/query/include.ex">>,<<"lib/fat_ecto/macro_docs">>,
  <<"lib/fat_ecto/macro_docs/paginator_docs.ex">>,
  <<"lib/fat_ecto/macro_docs/seed_helper_docs.ex">>,
  <<"lib/fat_ecto/macro_docs/records_docs.ex">>,<<"lib/fat_ecto/helper.ex">>,
  <<"lib/fat_ecto.ex">>,<<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Docs">>,<<"https://hexdocs.pm/fat_ecto/">>},
  {<<"GitHub">>,<<"https://github.com/tanweerdev/fat_ecto">>}]}.
{<<"name">>,<<"fat_ecto">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"ecto">>},
   {<<"name">>,<<"ecto">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.2">>}],
  [{<<"app">>,<<"csv">>},
   {<<"name">>,<<"csv">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.3">>}],
  [{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1.2">>}]]}.
{<<"version">>,<<"0.5.0">>}.
